.note_item_container{
    background-color: white;
    margin-bottom: 15px;
    width: 100%;
    padding: 25px 50px;
    border-radius: 5px;
    box-shadow: 0px 8px 11px rgba(34, 60, 80, 0.09);
}

.note_item_title{
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
    
}

.note_item_title_completed{
    opacity: 0.5;
    text-decoration: line-through;
}

.note_item_description{
    font-size: 15px;
    margin-bottom: 15px;
}

.note_item_button_container{
    display: flex;
    justify-content: right;
    gap: 5px;
}
